<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUM</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1><%=user.Nombre%></h1>
    
    <h1>Agregar Actividad:</h1>
    <form action="" method="post">
        <div class="form-group">
        <label for="Nombre">Nombre de la Actividad:</label>
        <input class="form-control" type="text" name="Nombre" id="Nombre" maxlength="50" required title="Maximo 50 caracteres">
        </div>
        <div class="form-group">
        <label for="Descripcion">Descripción:</label>
        <textarea class="form-control" name="DescripcionActividad" id="DescripcionActividad" maxlength="200" required title="Maximo 200 caracteres"></textarea>
        </div>
        <a href="/profile/verAsuntos" class="btn btn-danger btn-lg">Cancelar</a> <button class="btn btn-warning btn-lg" type="submit">Crear</button>
    </form>
</div>
</div>
</body>
</html>